<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/icons/witch-hat.png" alt="logo" width="30" height="24" />
        Wizard World
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['/products']">Estrategia</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/products']">Familiares</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/products']">Cartas</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/products']">Rol</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-actions">
          <form class="d-flex search-form">
            <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" />
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
          </form>
          <a href="./pages/cart/cart.html" class="btn btn-outline-primary position-relative">
            <i class="bi bi-cart3"></i>
            <span
              id="cart-badge"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              3
            </span>
          </a>
          <div id="user-menu"></div>
        </div>
      </div>
    </div>
  </nav>
</header>
