<section class="container" id="categorias">
  <h2 class="text-center py-5">Categorías de Juegos</h2>
  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center g-4 pb-4"
  >
    <article class="col">
      <a routerLink="/products" class="text-decoration-none">
        <div class="card h-100 shadow-sm border-0 rounded-3 overflow-hidden">
          <img
            src="assets/categories/strategy.jpg"
            class="card-img-top"
            alt="Juegos de estrategia"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title fw-semibold text-dark mb-0">Juegos de estrategia</h5>
          </div>
        </div>
      </a>
    </article>
    <article class="col">
      <a routerLink="/products" class="text-decoration-none">
        <div class="card h-100 shadow-sm border-0 rounded-3 overflow-hidden">
          <img
            src="assets/categories/family.jpg"
            class="card-img-top"
            alt="Juegos de mesa familiares"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title fw-semibold text-dark mb-0">Juegos de mesa familiares</h5>
          </div>
        </div>
      </a>
    </article>
    <article class="col">
      <a routerLink="/products" class="text-decoration-none">
        <div class="card h-100 shadow-sm border-0 rounded-3 overflow-hidden">
          <img
            src="assets/categories/cards.jpg"
            class="card-img-top"
            alt="Juegos de cartas"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title fw-semibold text-dark mb-0">Juegos de cartas</h5>
          </div>
        </div>
      </a>
    </article>
    <article class="col">
      <a routerLink="/products" class="text-decoration-none">
        <div class="card h-100 shadow-sm border-0 rounded-3 overflow-hidden">
          <img
            src="assets/categories/roleplay.jpg"
            class="card-img-top"
            alt="Juegos de rol"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title fw-semibold text-dark mb-0">Juegos de rol</h5>
          </div>
        </div>
      </a>
    </article>
  </div>
</section>
