.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.table {
  td,
  th {
    vertical-align: middle;
  }
}

.btn-danger {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
